# Dependencies
node_modules/

# Environment Variables
.env
.env.*

# Build Outputs (Vite & Extension)
client/dist/
extension/dist/

# Local File Uploads (Multer)
server/uploads/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/